$platinum: #dce0d9ff;
$celadon-green: #048a81ff;
$purple-navy: #404e7cff;
$dark-green: #00241bff;
$border: 1px solid;
$platinum-transparent: rgba(220, 224, 217, 0.696);
$dark-green-color: rgb(1, 62, 47);
$dark-green-transparent: rgba(1, 62, 47, 0.574);
